<strong>Style: </strong><%= @batch.style.name %><br/>
<strong>Date: </strong><%= @batch.date %><br/>
<strong>Notes: </strong><%= @batch.notes %><br/>
<strong>Original Gravity: </strong><%= @batch.original_gravity %><br/>
<strong>Final Gravity: </strong><%= @batch.final_gravity %>
